{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block page %}{% endblock %}

{% block link%}
<ul id="nav-mobile" class="right">
    <li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}


{% block content %}

<div class="row">
    <div class="col m2 list-container collection" style="max-height: 84vh;">
      {% if current_user.is_authenticated %}
        {% for pokemon in pokemons %}
          {% if pokemon.id == selectedPokemon.id %}
            <div class="list-item">  
                <a href='/app/{{pokemon.id}}' id='poke-{{pokemon.id}}' class="collection-item active">{{pokemon.name}}</a>
            </div>
          {% else %}
            <div class="list-item">  
                <a href='/app/{{pokemon.id}}' id='poke-{{pokemon.id}}' class="collection-item">{{pokemon.name}}</a>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    
    <div class="col m3" >
      <p class="text-center">Selected Pokemon</p>
      <div class="card" style="padding:10px">
        <row>
          <div class="content fill-space">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{selectedPokemon.id}}.png">
          </div>
          <span class="card-title">{{selectedPokemon.name}}</span>
          <p>Type1: {{selectedPokemon.type1}}</p>
          <p>Type2: {{selectedPokemon.type2}}</p>
          <p>Weight: {{selectedPokemon.weight}}</p>
          <p>Height: {{selectedPokemon.height}}</p>
        </row>
          <div class="card-action">
            <form id="captureForm" method="POST" action="/pokemon/{{selectedPokemon.id}}" style="padding:1em">
              <row>
                <input placeholder="Enter A Name Here" id="pokemon_name" name="pokemon_name" type="text" class="validate">
                <a class="btn" id="captureBtn" href="/pokemon/{{selectedPokemon.id}}">Capture</a>
              </row>
            </form>
          </div>
      </div>
    </div>

    <div class="col m7">
      <h5 class="text-center">Your Pokemon</h5>
      <table>
        <thead>
          <th>Pokemon</th>
          <th>Name</th>
          <th>Actions</th>
          <th></th>
        </thead>
        <tbody>
          {% if current_user.is_authenticated %}
          {% for userPokemon in userPokemons %}
          <tr>
            <td>{{userPokemon.pokemon.name}}</td>
            <td>{{userPokemon.name}}</td>
            <td>
              <form id="{{userPokemon.name}}-new_name" method="POST" action="/rename-pokemon/{{userPokemon.id}}" style="padding:1em">
                <input placeholder="Enter New Name Here" id="pokemon_name" name="pokemon_name" type="text" class="input-field col s7 validate">
                <a class="btn" id="rename-{{userPokemon.name}}" href="/rename-pokemon/{{userPokemon.id}}">Rename</a>
              </form>
            </td>
            <td>
              <a class="btn" id="release-{{userPokemon.name}}" href="/release-pokemon/{{userPokemon.id}}">Release</a>
            </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>

</div>


<script>
    var pokeElem = document.getElementById('poke-{{selectedPokemon.id}}');
    pokeElem.scrollIntoView();
</script>

{% endblock %}