{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block page %}{% endblock %}

{% block link%}
<ul id="nav-mobile" class="right">
    <li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}


{% block content %}

<div class="row">
    <div class="col m2 list-container collection" style="max-height: 84vh;">
        {% for pokemon in pokemons %}
        <!-- edit to show all pokemon links but have only the selected pokemon as active -->
        <div class="list-item">   
            <a href='/app/1' id='poke-1' class="collection-item active" >{{pokemon.name}}</a>
        </div>
        
        {% endfor %}
    </div>
    
    <div class="col m3">

        <p class="text-center">Selected Pokemon</p>

        <li class="collection-item">
                
                <div class="card-action">
                  
                  <a href="/rename-pokemon/{{selectedPokemon.id}}">Rename</a>
                  <a href="/release-pokemon/{{selectedPokemon.id}}">Release</a>
                </div>
            </li>
    </div>

    <div class="col m7">
        <p class="text-center">Your Pokemon</p>
        <table>
          <row>
            <span class="card-title">{{selectedPokemon.name}}
              <label class="right">
              </label>
            </span>
          </row>
          <div class="card-action">
            <form id="renameForm" method="POST" action="/rename-pokemon/{{selectedPokemon.id}}" style="padding:1em">
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="name" id="newname" name="newname" type="text" class="validate">
                  <label for="newname">New Name</label>
                </div>
              </div>
              <a class="btn" href="/rename-pokemon/{{selectedPokemon.id}}">Rename</a>
                    
            </form>
            <a class="btn" href="/release-pokemon/{{selectedPokemon.id}}">Release</a>
          </div>
        </table>
    </div>

</div>


<script>
    var pokeElem = document.getElementById('poke-{{selectedPokemon.id}}');// edit to scroll to selected pokemon
    pokeElem.scrollIntoView();
</script>

{% endblock %}